* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: rgb(225,240,248);
    color:rgb(0, 0, 0);
    height:100%;
}





.left-section{
    margin-top: 12% !important;
    text-align: center;
}
.row{
    margin-right: 0 !important;
    margin-left:0 !important;
}
.center{
       margin-top: 6% !important;
    text-align: center;
}
.img{
    width: 90%;
}
