::-webkit-scrollbar {display:none;}
.feild{
    padding-bottom: 10px;
    overflow: hidden;
}
.container{
    text-align: center;
    padding: 25px;
}
h2{
    padding: 20px;
}
.table{
    border: 1px solid black;
    
}
thead{
    background-color: rgb(255, 255, 255);
}
tbody{
    background-color:#020a0c00;
    font-weight: bold;
    color: rgb(14, 1, 1);
}